* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter";
  }
  h1,h2,h3,h4,h5,p{
      margin: 0;
      padding: 0;
  }
  
  .container {
    max-width: 1440px;
    padding: 0 80px;
    margin: 0 auto;
  }
  a {
    text-decoration: none;
  }
  
  @media (max-width: 1200px) {
    .container {
      padding: 0px 40px;
    }
  }
  @media (max-width: 991px) {
    .container {
      padding: 0px 20px;
    }
  }
  @media (max-width: 521px) {
    .container {
      padding: 0px 16px;
    }
  }
  @media (max-width: 300px) {
    .container {
      padding: 0px 6px;
    }
  }
/*-----------------------------navbar-section-------------------*/
.navbar-section{
   
   position: sticky;
   top: 0;
   left: 0;
    width: 100%;
    background: #FCE05B;
    padding: 16px 0px;
} 
.navbar-drive{
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.nav-menus{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 24px;
    margin-bottom: 0;
}
.nav-menus li a{
    display: flex;
    align-items: center;
    gap: 8px;
}
.nav-menus li a span{
color: var(--Primary-blue-500, #090B1E);
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 26px;
}
.nav-menus-mobile{
    display: none;
}
/*----------------------responsive------------------------*/
@media (max-width: 768px) {
    .nav-menus{
        display: none;
    }
    .nav-menus-mobile{
        display: block;
        list-style-type: none;
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 0;
    }
    .nav-menus-mobile .nav-path a{
        width: 32px;
        height: 32px;
        padding: 4px;
        border: 1px solid #E0E0E0;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
   
    .nav-menus-mobile .nav-menu-user a{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        padding: 9px;
        border-radius: 12px;
        border: 1px solid var(--cars-rentallscript-com-mercury, #E9E9E9);
        background: var(--cars-rentallscript-com-mercury-34, rgba(233, 233, 233, 0.34));
    }
}
@media (max-width: 521px) {
    .navbar-section{
        background-color: #fff;
        border-bottom: 1px solid var(--Foundation-Gray-scale-gray-scale-50, #EDEEF0);
    }
    .nav-menus{
        display: none;
    }
    .nav-menus-mobile{
        display: block;
        list-style-type: none;
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 0;
    }
    .nav-menus-mobile .nav-path a{
        width: 32px;
        height: 32px;
        padding: 4px;
        border: 1px solid #E0E0E0;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
   
    .nav-menus-mobile .nav-menu-user a{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        padding: 9px;
        border-radius: 12px;
        border: 1px solid var(--cars-rentallscript-com-mercury, #E9E9E9);
        background: var(--cars-rentallscript-com-mercury-34, rgba(233, 233, 233, 0.34));
    }

}
/*------------------search-bar section------------------*/
.search-bar-section{
    margin-top: 48px;
    background: #fff;
}
 .search-bar-container{
display: flex;
padding: 16px;
align-items: center;
gap: 20px;
border-radius: 8px;
background: #FCE05B;
width: 100%;

 } .search-bar-container > div:not(:first-child) {
    border-left: 2px solid white; /* Add a white left border */
    padding-left: 20px; /* Add some padding for spacing */
  }
 .pickup-location{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
 } 
 .pickup-location p{
    color: #000;

font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 28.214px; /* 141.07% */
 }
 .search-input input{
    border: none;
    background: transparent;
 }
 .search-input input:focus{
    outline: none;
 }
 .search-input{
border-radius: 8px;
border: 1px solid var(--foundation-grey-light-active, #F1F1F1);
background: var(--foundation-grey-light-hover, #F8F8F8);
display: flex;
padding: 8px 12px;
align-items: center;
gap: 6px;
max-width: 467px;

 }
 .search-input input::placeholder{
    font-size: 14px;
 }
 .pickup{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
 } 
 .pickup p{
    color: #000;

font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 28.214px; /* 141.07% */
 }
 .search-pickup{
    display: flex;
    align-items: center;
    gap:10px ;
    width: 100%;
    
 }
 .search-pickup .search-input{
    width: 135px;
 }
 .search-btn{
border-radius: 8px;
background: #006BE4;
padding: 8px 20px;
border: none;
color: var(--Color-Token-Main-Colors-White, #FFF);
width: 100%;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 28.214px; /* 201.528% */

 }
 .searc-container-mobile{
    display: none;
 }
 /*---------------------responsive-----------------------*/

 @media(max-width:521px){
    .search-bar-section{
        margin-top: 24px;
        
    }
    .search-bar-container{
        display: none;
    }
    .searc-container-mobile{
        display: flex;
        justify-content:flex-start;
        align-items: center;
        gap: 12px;
    }
    .filter-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px;
        border-radius: 4px;
border: 1px solid #D1D1D1;
background: #F8F8F8;
    }
    .search-mobile{
        display: flex;
        align-items: center;
        gap: 5px;
        width: 163px;
        border-radius: 4px;
border: 1px solid var(--Foundation-Grey-Normal, #D1D1D1);
background: #F8F8F8;
padding: 12px;
    }
    .date-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px;
        border-radius: 4px;
border: 1px solid #D1D1D1;
background: #F8F8F8;
    }
    .search-btn-mobile{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px;
        border-radius: 4px;
border: none;
background: #006BE4;;
    }
 }
 /*-------------------------------filter section-----------------------*/
 .filter-section{
    background: #fff;
    margin-top: 24px;
   
 }
 .filter{
    display: flex;
align-items: flex-start;
justify-content: flex-start;
    gap: 26px;
 }
 .filter-sidebar{
    display: flex;
    flex-direction: column;
    gap: 16px;
 }
 .filter-map-img img{
   
    max-width: 100%;
    height: auto;
    
 }
 .filteration{
    max-width: 325px;
    border-radius: 12px;
border: 1px solid var(--foundation-grey-light-active, #F1F1F1);
background: var(--White, #FEFEFE);
 }
 .filter-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 20px 10px 24px;
    border-bottom: 1px solid #DEE4E7;
    
 }
 .filter-head h4{
    color: #2C373D;

font-family: 'Poppins';
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
 }
 .filter-head span{
    color: #FF0909;


font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: none;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
 }
 .filter-location{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:16px 8px 22px 12px ;
    gap: 12px;
    border-bottom: 1px solid #DEE4E7;
 }
 .filter-location h3,.filter-price h3,.filter-seats h3,.company-filter h3{
    color: var(--New-Color-2, #2C373D);
font-family: 'Poppins';
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
 }
 .location-check{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 114px;
 }
 .check-box-content{
    display: flex;
    align-items: center;
    gap: 8px;

 }
 .filter-price{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:16px 23px 22px 12px ;
    gap: 12px;
    border-bottom: 1px solid #DEE4E7;
    width: 100%;
 }
 .check-box-content input,.seat-box-content input{
    width: 24px;
    height: 24px;
    
 }
 .check-box-content p{
    color: var(--Foundation-Grey-Darker, #494949);
font-family: 'Poppins';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
 }
 .check-box-content p span{
    color: var(--foundation-grey-dark-hover, #7D7D7D);
font-family: 'Poppins';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
 }
 .price-check{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
 }
 .filter-seats,.company-filter{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:16px 23px 22px 12px ;
    gap: 12px;
    border-bottom: 1px solid #DEE4E7;
   
 }
 .seat-box-content{
    display: flex;
    align-items: center;
    gap: 12px;
 }
 .seat-box-content p{
    color: var(--foundation-grey-dark-hover, #7D7D7D);
text-align: right;
font-family: 'Poppins';
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
 }
 .company-logos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8px 12px;
    align-items: center;
    
 }
 .filter-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
 }
.filtered-cars{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.filter-cars-head{
    display: flex;
    align-items: center;
    gap: 8px;
}
.filter-cars-head h2{
    color: var(--Foundation-Grey-Darker, #494949);


font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 36px */
letter-spacing: -0.24px;
}
.filter-cars-head span{
    color: var(--primary-color, #090B1E);

font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 36px */
letter-spacing: -0.24px;
}
.filter-car-cards{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 16px;
}
.car-img{
    display: flex;
height: 80px;
padding: 4px 11px 6px 12px;
justify-content: center;
align-items: center;
}
.filter-car-card{
    max-width: 142px;
    display: flex;
padding: 16px 23px 18px 24px;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
text-wrap: nowrap;
gap: 16px;
    border-radius: 6px;
background: var(--foundation-grey-light-hover, #F8F8F8);
}
.filter-car-card h3{
    color: var(--Foundation-Grey-Darker, #494949);

font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.show-results{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
}
.show-results h4{
    color: var(--New-Color-2, #2C373D);
font-family: 'Poppins';
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.show-results-cards{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 24px;
}
.show-results-card{
    border-radius: 8px;
background: #FFF;
box-shadow: 0px 0px 23.08px 0px rgba(31, 31, 31, 0.07);
display: flex;

width: 100%;
padding: 16px;
flex-direction: column;
align-items: flex-start;
gap: 16px;

}
.show-results-card-top{
    display: flex;
    align-items: flex-start;
    padding-bottom: 16px;
    justify-content: space-between;
    width: 100%;
   
    border-bottom: 1px solid #DEE4E7;
    
}
.show-results-card-top-left{
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 16px;
}
.show-results-card-top-left-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
}
.show-results-card-top-left-content-head{
    display: flex;
    align-items: center;
    gap: 8px;
}
.show-results-card-top-left-content-head h3{
    color: var(--New-Color-2, #2C373D);

font-size: 24.183px;
font-style: normal;
font-weight: 600;
line-height: 30px; /* 124.052% */
}
.badge{
    border-radius: 4.031px;
background: #14AE5C;
padding: 2.015px 8px;
border-radius: 4.031px;
color: #FFF;

font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 20.153px; /* 167.94% */
}
.show-results-card-top-left-content-rating{
    display: flex;
    align-items: center;
    gap: 8px;
}
.rating-stars{
    display: flex;
    gap: 8px;
    align-items: center;
}
.rating-stars p{
    color: var(--Foundation-Grey-Darker, #494949);

font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 17.5px; /* 125% */
}
.show-results-card-top-left-content-specifications{
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
   
}
.specifications{
    display: flex;
    align-items: center;
    gap: 8px;
}
.specifications p{
    color: var(--New-Color-2, #2C373D);
text-wrap: nowrap;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 28.214px; /* 201.528% */
}
.card-description{
    color: var(--foundation-grey-dark-active, #5E5E5E);
padding-top: 4px;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.specification-img{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 30.229px;
height: 30.229px;
background-color: #F7F7F7;
}
.show-results-card-top-right{
    display: flex;
max-width: 154px;
width: 100%;
flex-direction: column;
align-items: flex-end;
gap: 16px;
}
.show-results-card-top-right-head{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 8px;
}
.show-results-card-top-right-head p{
    color: var(--foundation-grey-dark-active, #5E5E5E);
text-align: right;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 17.5px; /* 125% */
}
.show-results-card-top-right-head-price{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
}
.show-results-card-top-right-head-price .price{
    color: var(--primary-color, #090B1E);
font-family: 'Poppins';
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 32.245px; /* 115.159% */
}
.show-results-card-top-right-head-price .days{
    color: #7A7A7A;

font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 17.5px; /* 125% */
}
.show-results-card-top-right-btn{
 text-align: center;
padding: 12px 20px;
color: var(--White, #FEFEFE);
border: none;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
border-radius: 4px;
background: #006BE4;
}
.show-results-card-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.show-results-card-bottom-content{
    display: flex;
    align-items: center;
    gap: 8px;
}
.show-results-card-bottom-content p{
    color: var(--Foundation-Grey-Darker, #494949);

font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 17.5px; /* 125% */
}
.show-results-card-bottom-content span{
    color: var(--primary-color, #090B1E);

font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 17.5px; /* 125% */
}
.important-info{
    display: flex;
    align-items: center;
    gap: 8px;
}
.important-info p{
    color: #006BE4;

font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
}

/*------------------------responsive---------------------------*/
@media (max-width: 521px) {
    .filter-sidebar{
        display: none;
    }
    .filter-car-cards{
        flex-wrap: wrap;
    }
    .filter-car-card{
        max-width: 100%;
        flex-direction: row;
        padding: 8px;
        gap: 4px;
        overflow: hidden;
        
    }
    
    .show-results-card-top{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 24px;
    }
    .show-results-card-top-left{
        flex-direction: column;

    }
    .show-results-card-top-left-content-specifications{
        flex-wrap: wrap;
    }
    .show-results-card-top-right{
        justify-content: flex-start;
        align-items: flex-start;
        max-width: 100%;
        
    }
    .card-description{
        display: none;
    }
    .show-results-card-top-right-head{
        justify-content: flex-start;
        align-items: flex-start;
    }
    .show-results-card-top-right-btn{
        width: 100%;
    }
    .show-results-card-bottom{
        flex-direction: column;
        gap: 16px;
    }
    .show-results-card-bottom-content p, .show-results-card-bottom-content span{
        font-size: 12px;
    }

}